In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
cols = ['loan_amnt', 'int_rate', 'installment']
data = pd.read_csv('loan.csv', nrows = 30000, usecols = cols)

In [9]:
data

       loan_amnt  int_rate  installment
0           2500     13.56        84.92
1          30000     18.94       777.23
2           5000     17.97       180.69
3           4000     18.94       146.51
4          30000     16.14       731.78
...          ...       ...          ...
29995       3200      7.56        99.63
29996      10000     11.31       328.86
29997      30000     20.89      1128.56
29998      33000      8.19       672.13
29999      17000      8.19       346.25

[30000 rows x 3 columns]

In [10]:
data.describe()

          loan_amnt      int_rate   installment
count  30000.000000  30000.000000  30000.000000
mean   15941.940000     12.948691    461.282355
std    10257.787699      4.880157    287.407671
min     1000.000000      6.000000     30.640000
25%     8000.000000      8.810000    248.400000
50%    13800.000000     11.800000    380.660000
75%    22000.000000     16.140000    622.700000
max    40000.000000     30.840000   1618.240000

In [11]:
#Standardizing

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
data_scaled = scaler.fit_transform(data)

In [13]:
#Checking if it worked
print(data_scaled.mean(axis=0))
print(data_scaled.std(axis=0))

print('Min values (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max values (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

[-8.71599089e-17  1.77635684e-18  3.03164901e-17]
[1. 1. 1.]
Min values (Loan Amount, Int rate and Installment):  [-1.4566678  -1.42389012 -1.49839262]
Max values (Loan Amount, Int rate and Installment):  [2.34538496 3.66619529 4.02556036]

In [14]:
#Normalization (Min-Max Scalar) :
#In this approach, the data is scaled to a fixed range — usually 0 to 1.


from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
data_scaled = scaler.fit_transform(data)

In [15]:
print('means (Loan Amount, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amount, Int rate and Installment): ', data_scaled.std(axis=0))

means (Loan Amount, Int rate and Installment):  [0.38312667 0.27973796 0.27125369]
std (Loan Amount, Int rate and Installment):  [0.26301581 0.19646036 0.18102978]

In [16]:
print('Min (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

Min (Loan Amount, Int rate and Installment):  [0. 0. 0.]
Max (Loan Amount, Int rate and Installment):  [1. 1. 1.]

In [17]:
# Robust Scalar (Scaling to median and quantiles) :
#Scaling using median and quantiles consists of subtracting the median 
# to all the observations and then dividing by the interquartile 
# difference(IQR) - 

# The interquartile difference is the difference between the 75th and 25th quantile:
# IQR = 75th quantile — 25th quantile

# ######## It Scales features using statistics that are robust to outliers ####

from sklearn.preprocessing import RobustScaler
scaler = RobustScaler() 
data_scaled = scaler.fit_transform(data)


# Now check the mean and standard deviation values.

print('means (Loan Amount, Int rate and Installment): ', data_scaled.mean(axis=0))
print('std (Loan Amount, Int rate and Installment): ', data_scaled.std(axis=0))

# As you can see, the distributions are not centered in zero and the standard deviation is not 1.

print('Min (Loan Amount, Int rate and Installment): ', data_scaled.min(axis=0))
print('Max (Loan Amount, Int rate and Installment): ', data_scaled.max(axis=0))

means (Loan Amount, Int rate and Installment):  [0.15299571 0.15671091 0.21539502]
std (Loan Amount, Int rate and Installment):  [0.73268691 0.66576743 0.76784099]
Min (Loan Amount, Int rate and Installment):  [-0.91428571 -0.79126876 -0.93513225]
Max (Loan Amount, Int rate and Installment):  [1.87142857 2.59754434 3.30638525]